<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/PortfolioATLP/components/admin.css">
    <script src="/PortfolioATLP/components/js.js" defer></script>
</head>

<body>
    <div class="all-content">
        <div class="left-section">
            <img src="/PortfolioATLP/images/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg" alt="" class="logo-image" />

            <div class="middle">
                <div class="first-two">
                    <div class="pair" id="Home" >
                        <img src="/PortfolioATLP/images/home.png" alt="" class="icon">
                        <p class="header-title" href="#right" >Home</p>
                    </div>
                    <div class="pair" id="prof" onclick="changeProfile()" >
                        <img src="/PortfolioATLP/images/profile.png" alt="" class="icon">
                        <p class="header-title">Profile</p>
                    </div>
                </div>
                <div class="pair" id="help"  onclick="replyQuery()" >
                    <img src="/PortfolioATLP/images/phone-call.png" alt="" class="icon">
                    <p class="header-title">Reply Querries</p>
                </div>
                <div class="pair" onclick="addBlog()">
                    <img src="/PortfolioATLP/images/Vector@2x.png" alt="" class="icon">
                    <p class="header-title">Add Blog</p>
                </div>
            </div>
            <div class="logout" >
                <img src="/PortfolioATLP/images/logout.png" alt="" class="icon">
                <a class="header-title-logout" href="/PortfolioATLP/components/index.html">Logout</a>
            </div>
        </div>
        <div class="right-section" id="right">
            <div class="card-row">
                <div class="card1">
                    <div class="number-container">
                        <span class="number">23</span>
                    </div>
                    <img src="/PortfolioATLP/images/pepicons-pencil--people.svg" alt="" class="card-image">
                    <p class="dates">All Users</p>
                </div>
                <div class="card2">
                    <div class="number-container">
                        <span class="number">87</span>
                    </div>
                    <img src="/PortfolioATLP/images/emojione--briefcase.svg" alt="" class="card-image">
                    <p class="dates">All Blogs </p>
                </div>

                <div class="card3">
                    <div class="number-container">

                        <span class="number">6</span>
                    </div>
                    <img src="/PortfolioATLP/images/ion--notifications.svg" alt="" class="card-image">
                    <p class="dates">Notifications </p>
                </div>
                
            </div>

            <div class="card-row-user">
                <div class="paragr">
                    <p class="header-para">User Update</p>
                </div>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Tresor Xavier</td>
                            <td>tresorxavier16@gmail.com</td>
                            <td>0781234567</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon">
                                    <hr class="middle-line">
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon">
                                </button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Sam Striker</td>
                            <td>samstriker@gmail.com</td>
                            <td>0781234567</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon">
                                    <hr class="middle-line">
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon">
                                </button>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
            <div class="card-row-user">
                <div class="paragr">
                    <p class="header-para">Blog Update</p>
                </div>
                
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Title</th>
                            <th>Phone</th>
                            <th>Password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Tresor Xavier</td>
                            <td>tresorxavier16@gmail.com</td>
                            <td>0781234567</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon">
                                    <hr class="middle-line">
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon">
                                </button>

                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Sam Striker</td>
                            <td>samstriker@gmail.com</td>
                            <td>0781234567</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon">
                                    <hr class="middle-line">
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon">
                                </button>

                            </td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>


    <section id="profile">
        <div class="container">
        
            <div class="sub-cont">
                <div class="form-sign-up">
                  <h2 class="update-profile">Update Profile</h2>
                  <img src="/PortfolioATLP/images/My photo.jpg" alt="" class="phooos">
                  <label class="namelaber">
                    <span>Name</span>
                    <input type="text" class="inp-form" />
                  </label>
                  <label class="emaillabel">
                    <span>Email</span>
                    <input type="email" class="inp-form" >
                  </label>
                  <label class="passwordLabel">
                    <span>Password</span>
                    <input type="password" class="inp-form" />
                  </label>
                  <button type="button" class="submit-btn">Sign Up</button>
                 
                </div>
              </div>
        </div>  
    </section>

    <section id="queries">
        <div class="card-queries">
                <h1 class="header-title">Reply All Querries </h1>
                <div class="card">
                    <img src="/PortfolioATLP/images/Logo.jpg" alt="" class="profile-card">
                    <p class="para-inside">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    <button class="btn-arrow"> Reply</button>
                </div>
                <div class="card">
                    <img src="/PortfolioATLP/images/profile.jpg" alt="" class="profile-card">
                    <p class="para-inside">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    <button class="btn-arrow"> Reply</button>
                </div>
                <div class="card">
                    <img src="/PortfolioATLP/images/profile.jpg" alt="" class="profile-card">
                    <p class="para-inside">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    <button class="btn-arrow"> Reply</button>
                </div>
                <div class="card">
                    <img src="/PortfolioATLP/images/Logo.jpg" alt="" class="profile-card">
                    <p class="para-inside">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    <button class="btn-arrow"> Reply</button>
                </div>
                <div class="card">
                    <img src="/PortfolioATLP/images/profile.jpg" alt="" class="profile-card">
                    <p class="para-inside">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</p>
                    <button class="btn-arrow"> Reply</button>
                </div>
        </div>
    </section>

    <section id ="add-blog">
        <div class="body-section">
            <div class="main">
                <div class="main-content">
                  <div class="main-container new-blog">
                    <h2>Create a new blog post</h2>
                    <div class="new-post-form blog">
                      <form class="new-blog-form">
                        
                            <div class="form-field field-1 medium">
                                <label for="post-title">Post Title</label>
                                <input id="post-title" type="text" name="post-title">
                            </div>
                              <div class="form-field field-2 medium">
                                <label for="url-slug">Author</label>
                                <input id="url-slug" type="text" name="url-slug">
                              </div>
                        
                        <div class="form-field field-3 medium">
                          <label for="post-description">Post Description</label>
                          <textarea id="post-description" type="text" rows="3" name="post-description"></textarea>
                        </div>
                        <div class="form-field field-4 short">
                          <label for="post-thumbnail">Post Thumbnail</label>
                          <input id="post-thumbnail" type="file" name="post-thumbnail">
                        </div>
                        <div class="first-row">
                            <div class="form-field field-5 short">
                                <label for="post-date">Date</label>
                                <input type="datetime-local">
                              </div>
                              <div class="form-field field-6 short">
                                <label for="email-notification">Email Notification</label>
                                <select id="email-notification" name="email-notification">
                                  <option value="" disabled selected>Select</option>
                                  <option value="email-all">Email all users</option>
                                  <option value="email-paid">Email only paid members</option>
                                  <option value="no-email">Do not send an email</option>
                                </select>
                              </div>
                        </div>
                        
                        
                        <div class="new-post-actions">
                        
                          <div class="button-container">
                            <button class="publish" type="submit">Publish</button>
                          </div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
        </div>
    </section>
</body>


</html>