@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300..800&family=Poppins:wght@100;200;300&family=Raleway:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300..800&family=Poppins:wght@100;200;300&family=Raleway:ital,wght@0,200;1,200&family=Kaushan+Script&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
.hero{
    margin: 0;
    padding: 0;
    background-color: #F6EFE5;
}
 .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
    
    
} 

.nav-bar a:hover { 
    color: #B8B66E;
    cursor: pointer;
}

.nav-bar a:hover::after { 
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #B8B66E;
    position: absolute;
    bottom: -5px;
    left: 0;
}



.content{
    display: flex;
    height: 100vh;
    margin-top: 3px;
    align-items: center;
    gap: 1em;
}


.nav-content-home,
.nav-content-about,
.nav-content-contact,
.nav-content-portfolio,
.nav-content-blog{
text-decoration: none;
color: #0B0D11;
}
.name-space{
    
flex: 1;
flex-wrap: wrap;
margin-left: 200px;


}
.social-media {
    margin-top: 20px; 
    display: block;
    flex-direction: column; 
    align-items: center;
}
.social-media .social-media-icons {
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    gap: 1em;
}
.my-title{
    font-family: 'Kaushan Script', cursive;
    font-size: xx-large;
    margin-top: 25px;
    color: #B8B66E;
    display: flex;
    align-items: center;
    justify-content: start;
    line-height: 2em;
}
.occupation{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 3em; 

}
.social-icons img {
    width: 30px; 
    height: 30px;
   
}
.splash-image{
    display: flex;
flex: 1;
align-items: start;
justify-content: start;
margin-right: 50px;

}
.my-image{
    width: 430px;
    height: 75vh;
    border-radius: 40px;
}
.extended{
display: block;
flex: 1;
padding: 0px;

}
.extended-par{
    
flex-wrap: wrap;
padding-right: 20px;

}
.btn-start{
    
    background-color: #0B0D11;
    width: 90px;
    height: 32px;
    color: #B8B66E;
    border-radius: 20px; 
}
.button-start{
    display: block;
    padding-top: 20px;
}
.log{
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 1em;

}
.log-title{
    font-size: xx-large;
    margin-top: 25px;
}
.logo-image{
    align-items: center;
}

.logo-image{
    margin-top: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    align-items: center;
}
.nav-content{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 3em;
    
}
.nav-content-home:hover,
.nav-content-about:hover,
.nav-content-contact:hover,
.nav-content-portfolio:hover,
.nav-content-blog:hover
 {
    color: #B8B66E;
    cursor: pointer;
}


.button-signup{
    margin-left: 20px;
   cursor: pointer;
}
.btn-signup{
    background-color: #0B0D11;
    width: 70px;
    height: 32px;
    color: #B8B66E;
    border-radius: 20px;
    cursor: pointer;
}

.btn-contact{
    background-color: #0B0D11;
    width: 100px;
    height: 32px;
    color: #B8B66E;;
    border-radius: 20px;
    margin-top: 2em;
    margin-left: 1em;
}

.social-media-icons .insta,
.social-media-icons .you,
.social-media-icons .twi,
.social-media-icons .face,
.social-media-icons .lin {
    width: 30px; 
}

.contact-par{

    color: #B8B66E;
    font-size: medium;
} 
.contact-us{
    display: flex;
    margin-left: 60px;
    height: 80vh;

}.line{display: flex; flex-direction: column;justify-content: center; width: 120px;}
.left{
    flex:1;
   padding-left: 10em;
}
.right{
    margin-top: 4em;
    display: flex; 
    flex-direction: column;  
    flex:3;
    align-items: center;
    justify-content: start;
    
}
.intro{
  margin-top: 2em;
  width: 300px;
  flex-wrap: wrap;
}

.contact-par{
    font-size: x-large;
    margin-top: 3em;

}
.right-intro{
   font-size: x-large;
  
}
.form-contact{
    padding-top: 2em;
    line-height: 2em;
    border-radius: 20px;
}
.inp-form{
    border-radius: 20px;
    padding: .4em;  
}
.message{
    border-radius: 10px;
}
.form-group-fname {
    
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    
    
}
.form-group-email {
    display: flex;
    flex-direction: column;
    margin-left: 2em;
}
.fnameEmail{
    display: flex;
    align-items: center;
}
.form-group-password{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
    

}
.form-group-message{
    display: flex;
    flex-direction: column;
    padding-left: 1em;
}
.icons{
    width: 50px;
    height: 20px;
}
.contact-objects{
    margin-top: 2em;
   display: flex;
   flex-direction: column;
}
.buttom-contact{
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}
.about{
    height: 100vh;
    background-color: #F6EFE5;
}
.mine{
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin-left: 80px;
    line-height: 2em;
    margin-right: 3em;
    padding: 10px;
    padding-top: 5em;
    height: 50vh;
}
.photo-me{
    width: 300px;
    height: 400px;
    border-radius: 10px;
    margin-right: 5em;
    
    
}
.header-about{
    color: #B8B66E;
    margin-bottom: 1em;
   
}
.section-left{
    width: 350px;
    margin-left: 5em;
    line-height: 1.4em;
}
.describeMe{
    line-height: 1.5em;
    width: 300px;
    flex-wrap: wrap;
    margin-bottom: 5em;
   
}

.line-stat{
    width: 550px;
    margin-top: 10px;
}
.statsp{
    margin-left: 2em;
    justify-content: center;
    
}

.description{
    display: flex;
    align-items:center;
    margin-left: 50px;
    padding: 10px;
}
.container-stat{
    display: flex;
    align-items: center;
    
}
.stats{
    padding: 1em;
}

.statsp{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: xx-large;
    color: #B8B66E;
    margin-right: 15px;
}
.btn-hire{
    background-color: #0B0D11;
    width: 150px;
    height: 32px;
    color: #B8B66E;
    margin-top: 40px;
    margin-left: 1em;
    border-radius: 20px;
}
.blogs{
    
}
.image-card{
    width: 440px;
    height: 40vh;
    object-fit: fill;
}
.trendings{
    color: #B8B66E;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}
.allcards{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 40px;
}
.description-me{
    flex-wrap: wrap;
    margin-bottom: 3em;
    margin-right: 1em;
    width: 600px;
}
.skills{
    display: flex;
   align-items: center;
   justify-content: center;
}
.skill-works{
  
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(206, 198, 49, 0.1);
    width:80%;
    height: 45vh;
    margin-top: 30px;
   


}
.head-skilll-title{
    display: flex;
    align-items: center;
   justify-content: center;
   margin-top: 80px;
   color: #000;
   transition: color 0.3s ease;
   font-family: 'Lato', cursive;
    font-size: xx-large;
    margin-bottom: 40px;

   
}

.head-skilll-title:hover {
    color: grey; 
   
}
 .list-tech{
    display: flex;
    align-items: center;
   justify-content: center;
    flex-direction: row;
    list-style: none;
    margin: 20px;
    gap: 30px;
}
.list-tech li:hover {
    cursor: pointer; 
}

.skill-icons{
    width: 80px;
    height: 80px;
    transition: filter 0.3s ease; 
}

.skill-icons:hover {
    filter: grayscale(100%);
}


.card{
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:440px;
    height: 70vh;
    margin-bottom: 2em;
    
}
.auth-logo{
    color: #B8B66E;
    margin-left: 1.4em;
}

.log-des{
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 20px;
    gap: 6em;
}

.descriptio-card{
    font-size: smaller;
    font-weight: 500;
    line-height: 1.5em;
    color: gray;
}

.profile-photo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border-radius: 2;
    margin-left: 10px;
    
}
.btn-arrow{
    background-color: #0B0D11;
    width: 80px;
    height: 32px;
    color: #B8B66E;
    border-radius: 20px;
}
.auth-logo{
height: 15px;  
width: 25px;
}
.authordescription{
  
}

.footericon{
    color: #0B0D11;
    width: 30px;
    height: 20px;
}

.footerclass{
    display: flex;
    flex-direction: row;
    height: 55vh;
    background-color: #F6EFE5 ;
   
}
.sec1,
.sec2,
.sec3,
.sec4{
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    margin-left: 2em;
}

.header-footer{
   color: #B8B66E;
   font-size: x-large;

  
}
.sec1,
.sec2,
.sec3,
.sec4 {
    padding: 20px;
    box-sizing: border-box;
}

.header-footer {
    color: #B8B66E;
    font-size: x-large;
    margin-bottom: 10px;
}
.about-footer,
.more-footer{
    margin-top: 60px;
    margin-right: 40px;
    align-items: stretch;
    
}

.describeMe {
    margin-bottom: 150px;
    color: #0B0D11;
}

.about-footer,
.more-footer,
.location-footer {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    line-height: 2em;
}

.footer-last {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.pair{
    display: flex;
    align-items: center;
    line-height: 4em;
    
}


.footer-last-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.social-media-icons {
    display: flex;
}

.insta,
.face,
.you,
.twi,
.lin {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.social-medias{
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-start;
    gap: 1em; 
}


.footer-copyrigths {
    background-color: #0B0D11;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

.name-Span {
    font-weight: bold;
    color: #B8B66E;
}
.par{
    margin-right: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}



@media only screen and (max-width: 768px) {
    .nav-bar {
      flex-direction: column;
      align-items: stretch;
    }
  
    .nav-content {
      flex-direction: column;
      gap: 1em;
      margin-top: 1em;
      text-align: center;
    }
  
    .nav-content a {
      display: block;
    }
  
    .log {
      flex-direction: column;
      align-items: center;
      gap: 0.5em;
      margin-bottom: 1em;
    }
  
    .logo-image {
      margin-top: 0;
      margin-bottom: 0.5em;
    }
  
    .nav-bar a {
      padding: 0.5em;
    }
  
    .content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .name-space {
      margin-left: 0;
      text-align: center;
      margin-bottom: 1em;
    }
  
    .splash-image {
      margin-right: 0;
    }
  
    .extended {
      padding: 0 1em;
    }
  
    .social-media .social-media-icons {
      flex-direction: row;
      gap: 1em;
      justify-content: center;
    }
  
    .my-image {
      width: 100%;
      height: auto;
    }
  
    .contact-us {
      flex-direction: column;
      height: 130vh;
      margin-right: 3em;
    }
  
    .left {
      padding-left:1em;
      padding-right: 2em;
    }
  
    .right {
        margin-bottom: 20px;
        margin-right: 20px;
    }
  
    .about {
      height: auto;
    }
  
    .mine {
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      height: 110vh;
      padding: 1em;
    }
  
    .photo-me {
      width: 200px;
      height: 30vh;
      border-radius: 0;
      margin-bottom: 1em;
      border-radius: 10px;
      margin-left: 120px;
      margin-bottom: 40px;
    }

    .container-stat{
        display: flex;
        align-items: center;
        
    }
    .form-contact{
        margin: 10px;
    }

    
    .line-stat{
        width: 300px;
        margin-left: 50px;
    }
    .statsp{
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        font-size: large;
        color: #B8B66E;

    }
    .description{
        display: flex;
        align-items:center;
        margin-left: 8px;
        padding: 5px;
    }
    .btn-hire{
        margin-top: 30px;
        margin-left: 35px;
    }
 
    .section-left {
      margin-left: 0;
      text-align: center;
    }
  
    .blogs {
      padding: 1em;
    }
  
    .allcards {
      justify-content: center;
    }
  
    .card {
      width: 520px;
      margin-bottom: 2em;
    }
  
    .footerclass {
      flex-direction: column;
    }
  
    .sec1,
    .sec2,
    .sec3,
    .sec4 {
      padding: 1em;
      margin-left: 0;
      margin-right: 0;
    }
  
    .about-footer,
    .more-footer {
      gap: 2em;
    }
  
    .describeMe {
      margin-bottom: 1em;
    }
  
    .pair {
      flex-direction: column;
      line-height: inherit;
      margin-bottom: 0.5em;
    }
  
    .footer-last {
      margin-bottom: 0.5em;
    }
  
    .footer-last-icon {
      margin-right: 0.5em;
    }
    .head-skilll-title{
        font-size: x-large;
    }
    .list-tech{
        margin: 0;
        width: 250px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        
    }
    .skills{
        
        height: 75vh;
        

       
    }
    .skill-works{
        
        margin-bottom: 5em;
        height: auto;
        
    }
    .log-des{
        
        flex-direction: row;
    }
    .authordescription{
        color: #000
        
    }
    .btn-arrow{
        margin-left: 20px;
       
        width: 80px;
    }
    .auth-logo{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .authordescription{
        width: 50px;
    }

  }
  @media only screen and (max-width: 480px) {

    .header-footer {
        font-size: 18px;
    }

    .describeMe {
        font-size: 14px;
    }

    .authordescription {
        font-size: 14px;
    }


    .content {
        padding: 10px;
    }

    .my-image {
        margin-bottom: 10px;
        width: 160px;
        height: auto;
        border-radius: 15px;
    }

    .card {
        height: 90vh;
    }

    .description-me {
        width: 90%;
        margin-left: 60px;
        font-size: large;
    font-weight: 500;
    line-height: 1.5em;
    color: gray;
    }

    .btn-arrow {
        padding: 5px 10px;
        font-size: 14px;
    }

    .btn-arrow:hover {
        background-color: #B8B66E;
    }

    .log-des {
        display: flex;
        align-items: center;
        gap: 10px;
    }
    

    .profile-photo {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-left: 2px;
    }
    .footer-copyrigths {
        
        bottom: 0;
        width: 100%;
        background-color: #0B0D11;
        color: white;
        text-align: center;
        padding: 10px 0;
    }
    .footerclass{
        display: flex;
        height: 160vh;
    }
    .footerclass {
        padding: 30px;
    }
    
    
    .header-footer {

        text-align: center;
    }
    
   
    .pair {
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;
    }
    
    .footericon {
        width: 20px; 
        
    }
}
