<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="index.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="hero" id="hero">
      <div class="nav-bar">
        <div class="log">
          <img src="./images/Logo.jpg" alt="" class="logo-image" />
          <span class="log-title">Tresor</span>
        </div>
        <div class="nav-content">
          <a href="#hero" class="nav-content-home">Home</a>
          <a href="#about" class="nav-content-about">About us</a>
          <a href="#contact" class="nav-content-contact">Contact us</a>
          <a href="" class="nav-content-portfolio">Portfolio</a>
          <a href="#blogs" class="nav-content-blog">Blog</a>
          <a   href="Signup.html" class="button-signup">
            <button class=btn-signup>Signup</button>
          </a>
        </div>
      </div>
      <div class="content">
        <div class="name-space">
          <span class="my-title">Tresor Xavier</span>
          <h3 class="occupation">Software Developer</h3>
          <div class="social-media">
            <div class="social-media-icons">
            <img src="./images/instagram.png" alt="" class="insta"/>
            <img src="./images/facebook (2).png" alt=""class="face" />
            <img src="./images/social-media.png" alt=""class="twi" />
            <img src="./images/linkedIn.png" alt="" class="lin"/>
            </div>
          </div>
        </div>
        <div class="splash-image">
          <img src="./images/profile.jpg" alt="" class="my-image"/>
        </div>
        <div class="extended">
            <p class="extended-par">
                A dedicated software developer with passion to create useful and digital Experience.
            </p>
            <div class="button-start">
                <button class="btn-start">Get Started</button>
            </div>

        </div>
      </div>
    </section>
    <section class="contact-us" id="contact">

        <div class="left">
          <h1 class="contact-par">
            CONTACT
          </h1>
          <hr class="line">
          <P class="intro">Feel Free to reach out For us In case you  have  any  Inquiries, we
            can reach out  to you.</P>
            <div class="contact-objects">
              <div class="buttom-contact">
                <img src="./images/call_ic_icon.svg" alt="" class="icons">
                <p>
                  +250781605346
                </p>
  
              </div>
              <div class="buttom-contact">
                <img src="./images/email.svg" alt="" class="icons">
                <p>
                  tresorxavier@gmail.com
                </p>
                
              </div>
            </div>
        </div>
        <div class="right">
          <p class="right-intro">Love to hear from you, get In touch 👋</p>
            
          <div class="form-contact">
            <div class="fnameEmail">
            </div>
          <div class="form-group-password">
            <label for="fullName">User Email</label>
            <input type="email"  class="inp-form">
          </div>
          <div class="form-group-message">
            <label for="fullName">Message</label>
            <textarea rows="5" cols="50" class="message"></textarea>
          </div>
          <button class="btn-contact">Send Message</button>
        </div>
          </div>

    </section>

    <section class="about" id="about">
      <div   class="mine">
        <img src="./images/My photo.jpg" alt="" class="photo-me">
        <div class="section-left">
          <h1 class="header-about">ABOUT ME</h1>
          <p class="description-me">As a hardworking Software Engineer, I bring proven skills in setting up and problem-solving to any project. With a background in building and maintaining websites using software tools, I am a reliable candidate ready to tackle challenges head-on. My strong problem-solving and prioritization skills enable me to deliver high-quality solutions efficiently. I am committed to offering my support and expertise to help businesses succeed and thrive in today's competitive landscape.</p>
          <hr class="line-stat">
          <div class="container-stat">
            <div class="stats">
              <p class="statsp">2+</p>
              <p class="description">Work with Companies</p>
            </div>
            <div class="stats">
              <p class="statsp">1+</p>
              <p class="description">Work with Companies</p>
            </div>
            <div class="stats">
              <p class="statsp">10+</p>
              <p class="description">Satisfied Clients</p>
            </div>
          </div>
          <hr class="line-stat">
          <button class="btn-hire">Download CV</button>
        </div>
      </div>
    </section>
    <section class="skills">
      
        <div class="skill-works">
          <h2 class="head-skilll-title">&lt; Technologies and Skills /&gt;</h2>
          <ul class="list-tech">
            
            <li class="list-item">
                <i class="devicon-html5-plain" title="HTML5"></i>
            </li>
            <li class="list-item">
              <i ><img src="./images/devicon--html5.svg" alt="" class="skill-icons"></i>
              <label for="skill-icons" class="label-icon">HTML</label>
          </li>
            <li class="list-item">
                <i ><img src="./images/vscode-icons--file-type-css.svg" alt="" class="skill-icons"></i>
                <label for="skill-icons" class="label-icon">CSS</label>
            </li>
            <li class="list-item">
                <i ><img src="./images/vscode-icons--file-type-js-official.svg" alt="" class="skill-icons"></i>
                <label for="skill-icons" class="label-icon">Javascript</label>
            </li>
    
            <li class="list-item">
                <i><img src="./images/logos--nodejs.svg" alt="" class="skill-icons"></i>
                <label for="skill-icons" class="label-icon">Node JS</label>
            </li>
    
            <li class="list-item">
                <i><img src="./images/devicon--java-wordmark.svg" alt="" class="skill-icons"></i>
                <label for="skill-icons" class="label-icon">Java</label>
            </li>
            <li class="list-item">
                <i><img src="./images/skill-icons--react-dark.svg" alt="" class="skill-icons"></i>
                <label for="skill-icons" class="label-icon">React JS</label>
            </li>
            
        </ul>
        
        </div>
        
    </section>
   
    <section  class="blogs" id="blogs">
      <h1 class="trendings">TRENGING BLOG...</h1>
      <div class="allcards">
       
        <div class="card">
          <img src="./images/standard-quality-control-concept-m.jpg" alt="" class="image-card">
          <div class="description">
            <p class="descriptio-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non fugiat unde consectetur in at exercitationem tempora reprehenderit laboriosam sit blanditiis, ratione quae provident, aliquam optio architecto quos. Velit, quam.</p>
          </div>
          <div class="log-des">
            <img src="./images/Logo.jpg" alt="" class="profile-photo">
            <p class="authordescription"> Mr.Tresor</p>
            <button class="btn-arrow"><a href="SingleBlog.html"  class="auth-logo">More</a></button>
          </div> 
        </div>
        <div class="card">
          <img src="./images/ai-nuclear-energy-background-future-innovation-disruptive-technology.jpg" alt="" class="image-card">
          <div class="description">
            <p class="descriptio-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non fugiat unde consectetur in at exercitationem tempora reprehenderit laboriosam sit blanditiis, ratione quae provident, aliquam optio architecto quos. Velit, quam.</p>
          </div>
          <div class="log-des">
            <img src="./images/Logo.jpg" alt="" class="profile-photo">
            <p class="authordescription"> Mr.Tresor</p>
            <button class="btn-arrow"><a  href="SingleBlog.html"  class="auth-logo">More</a></button>
          </div> 
        </div>
        <div class="card">
          <img src="./images/excited-black-man-exploring-virtual-reality-office.jpg" alt="" class="image-card">
          <div class="description">
            <p class="descriptio-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non fugiat unde consectetur in at exercitationem tempora reprehenderit laboriosam sit blanditiis, ratione quae provident, aliquam optio architecto quos. Velit, quam.</p>
          </div>
          <div class="log-des">
            <img src="./images/Logo.jpg" alt="" class="profile-photo">
            <p class="authordescription"> Mr.Tresor</p>
            <button class="btn-arrow"><a  href="SingleBlog.html"  class="auth-logo">More</a></button>
          </div> 
        </div>
        <div class="card">
          <img src="./images/robot-handshake-human-background-futuristic-digital-age.jpg" alt="" class="image-card">
          <div class="description">
            <p class="descriptio-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non fugiat unde consectetur in at exercitationem tempora reprehenderit laboriosam sit blanditiis, ratione quae provident, aliquam optio architecto quos. Velit, quam.</p>
          </div>
          <div class="log-des">
            <img src="./images/Logo.jpg" alt="" class="profile-photo">
            <p class="authordescription"> Mr.Tresor</p>
            <button class="btn-arrow"><a  href="SingleBlog.html"  class="auth-logo">More</a></button>
          </div> 
        </div>
        <div class="card">
          <img src="./images/4955.jpg" alt="" class="image-card">
          <div class="description">
            <p class="descriptio-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non fugiat unde consectetur in at exercitationem tempora reprehenderit laboriosam sit blanditiis, ratione quae provident, aliquam optio architecto quos. Velit, quam.</p>
          </div>
          <div class="log-des">
            <img src="./images/Logo.jpg" alt="" class="profile-photo">
            <p class="authordescription"> Mr.Tresor</p>
            <button class="btn-arrow"><a href="SingleBlog.html" class="auth-logo">More</a></button>
          </div> 
        </div>
        <div class="card">
          <img src="./images/cloud-computing-banner-background-smart-city.jpg" alt="" class="image-card">
          <div class="description">
            <p class="descriptio-card">Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque non fugiat unde consectetur in at exercitationem tempora reprehenderit laboriosam sit blanditiis, ratione quae provident, aliquam optio architecto quos. Velit, quam.</p>
          </div>
          <div class="log-des">
            <img src="./images/Logo.jpg" alt="" class="profile-photo">
            <p class="authordescription"> Mr.Tresor</p>
            <button class="btn-arrow"><a href="SingleBlog.html"  class="auth-logo">More</a></button>
          </div> 
        </div>

      </div>
        
    </section>

    <section class = "footerclass" id="footer">
        
      <div class="sec4">
        <div class="ourservice-footer">
          <h1 class="header-footer"> Useful Links</h1>
          <ul>
            <li>Blogs</li>
            <li>Contact Us</li>
            <li>Explore More</li>
          </ul>
        </div>

        <div class="location-footer">
          <h1 class="header-footer"> Have Any Querry</h1>
          <ul class="footer-lasts">
            <img src="./images/location_icon.svg" alt="" class="footer-last-icon">
            <p class="name">11 KK ST, Kigali</p>
          </ul>
          <ul class="footer-last">
            <img src="./images/call_ic_icon.svg" alt="" class="footer-last-icon">
            <p class="name">+25078160346</p>
          </ul>
          <ul class="footer-last">
            <img src="./images/email.svg" alt="" class="footer-last-icon">
            <p class="name">tresorxavier16@gmail</p>
          </ul>
      
        </div>
        <div class="social-media-footer">
          <h1 class="header-footer"> Social media Links</h1>
          <ul class="social-footer">
            <div class="row-social1">
              <li><img src="./images/instagram.png" alt="" class="insta"/></li>
              <li><img src="./images/facebook (2).png" alt=""class="face" /></li>
            </div>
            <div class="row-social2">
              <li><img src="./images/linkedIn.png" alt=""class="twi" /></li>
            <li><img src="./images/social-media.png" alt=""class="twi" /></li>
            </div>
          </ul>
        </div>  
      </div> 
         
     
    </section>
    <div class="footer-copyrigths">
      ©️ copyright Reserved by <span class="name-Span"> Tresor Xavier</span>
    </div>
  </body>

  <script src="./components/js.js" >
    
  </script>
</html>
