<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/components/index.css" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero">
      <div class="nav-bar">
        <div class="log">
          <img src="/images/Logo.jpg" alt="" class="logo-image" />
          <span class="log-title">Tesor</span>
        </div>
        <div class="nav-content">
          <p class="nav-content-">Home</p>
          <p class="nav-content-">About us</p>
          <p class="nav-content-">Contact us</p>
          <p class="nav-content-">Portfolio</p>
          <p class="nav-content-">Blog</p>
          <div class="button-signup">
            <button class=btn-signup>Signup</button>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="name-space">
          <span class="my-title">Tresor Xavier</span>
          <h3 class="occupation">Software Developer</h3>
          <div class="social-media">
            <div class="social-media-icons">
            <img src="/images/instagram.png" alt="" />
            <img src="/images/faceBook.png" alt="" />
            <img src="/images/Twiter.png" alt="" />
            <img src="/images/youtube.png" alt="" />
            <img src="/images/linkedIn.png" alt="" />
            </div>
          </div>
        </div>
        <div class="splash-image">
          <img src="/images/profile.jpg" alt="" class="my-image"/>
        </div>
        <div class="extended">
            <p>
                A dedicated software developer with passion to create useful and digital Experience.
            </p>
            <div class="button-start">
                <button class="btn-start">Get Started</button>
            </div>

        </div>
      </div>
    </div>
    <div class="contact-us"></div>
  </body>
</html>
