<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/admin.css" />
    <script src="./JS/js.js" defer></script>
</head>
<body>
      <div class="all-content">
        <div class="left-section">
            <img src="./images/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg" alt="" class="logo-image" />

            <div class="middle">
                <div class="first-two">
                    <a class="pair" id="Home" href="admin.html">
                        <img src="./images/home.png" alt="" class="icon" />
                        <p class="header-title" href="admin.html">Home</p>
                    </a>
                    <a class="pair" id="prof" href="Users.html">
                        <img src="./images/profile.png" alt="" class="icon" />
                        <p class="header-title">Users</p>
                    </a>
                </div>
                <a class="pair" id="help" href="querries.html">
                    <img src="./images/phone-call.png" alt="" class="icon-qerry" />
                    <p class="header-title">Querries</p>
                </a>
                <a class="pair" href="blogs.html">
                    <img src="./images/Vector@2x.png" alt="" class="icon" />
                    <p class="header-title">Add Blog</p>
                </a>
            </div>
            <div class="logout">
                <img src="./images/logout.png" alt="" class="icon" />
                <a class="header-title-logout" href="./components/index.html">Logout</a>
            </div>
        
    
</div>
<div class="right-section" id="right">
    <div class="card-row">
        <div class="card1">
            <div class="number-container">
                <span class="number" id="usersLength"></span>
            </div>
            <img src="./images/pepicons-pencil--people.svg" alt="" class="card-image" />
            <p class="dates">All Users</p>
        </div>
        <div class="card2">
            <div class="number-container">
                <span class="number" id="BlogData"></span>
            </div>
            <img src="./images/emojione--briefcase.svg" alt="" class="card-image" />
            <p class="dates">All Blogs</p>
        </div>

        <div class="card3">
            <div class="number-container">
                <span class="number">6</span>
            </div>
            <img src="./images/ion--notifications.svg" alt="" class="card-image" />
            <p class="dates">Notifications</p>
        </div>
    </div>

        <div class="card-queries">
            <h1 class="header-title">Reply All Querries</h1>
            <div class="card">
                <img src="./images/Logo.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="./images/profile.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="./images/profile.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="./images/Logo.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="./images/profile.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
        </div>

</div>
</body>
</html>