<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/PortfolioATLP/components/signup.css">
</head>
<body>
<div class="container">
  
  <div class="sub-cont">
    <div class="form-sign-up">
      <h2>Signup Here</h2>
      <label class="namelaber">
        <span>Name</span>
        <input type="text" class="inp-form" />
      </label>
      <label class="emaillabel">
        <span>Email</span>
        <input type="email" class="inp-form" >
      </label>
      <label class="passwordLabel">
        <span>Password</span>
        <input type="password" class="inp-form" />
      </label>
      <button type="button" class="submit-btn">Sign Up</button>
     
    </div>
  </div>
</div>
</body>
</html>