<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SIGNIN</title>
  <link rel="stylesheet" href="Signin.css">
  <script src="Signup.js" defer type="module"></script>
</head>
<body>

  <div class="nav-bar">
    <div class="log">
      <img src=",/images/Logo.jpg" alt="" class="logo-image" />
      <span class="log-title">Tresor</span>
    </div>
    <div class="nav-content">
      <a href="index.html" class="nav-content-home">Home</a>
          <a href="index.html" class="nav-content-about">About us</a>
          <a href="index.html" class="nav-content-contact">Contact us</a>
          <a href="#" class="nav-content-portfolio">Portfolio</a>
          <a href="index.html" class="nav-content-blog">Blog</a>
          <a   href="Signup.html" class="button-signup">
            <button class=btn-signup>Signup</button>
          </a>
    </div>
  </div>
  <div class="wrapper">
    <div class="sign-panels">
        <div class="login">
            <div class="title">
                <span>LOGIN</span>
                <p>Welcome back, please login to your account. </p>
            </div>
  
            
  
            <form action="">
                <input type="email" placeholder="Email">
                <span id="error-email"></span>
                <input type="password" placeholder="Password">
                <span id="error-password"></span>


                <a href="#" class="btn-signin">Sign In</a>
  

                <a href="Signup.html" class="btn-member btn-fade">Create account? <i class="fa fa-long-arrow-right"
                                                                             aria-hidden="true"></i></a>
            </form>
            <span id="success-form"></span>
            <div class="or"><span>OR</span></div>
          <div class="btn-media">
            <button href="#" class="btn-google" id="btn-google"><img src="./images/google.png" alt="" class="img-icon-social"></button>
            <button href="#" class="btn-github" id="btn-github"><img src="./images/github.png" alt="" class="img-icon-social"></button>
            
        </div>

          
        </div>
  
  </div>
</body>
</html>