<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SING UP</title>
  <link rel="stylesheet" href="Signin.css">
  <script type="module" src="Signup.js" defer></script>
</head>
<body>

  
  <div class="nav-bar">
    <div class="log">
      <img src="/PortfolioATLP/images/Logo.jpg" alt="" class="logo-image" />
      <span class="log-title">Tresor</span>
    </div>
    <div class="nav-content">
      <a href="../User/index.html" class="nav-content-home">Home</a>
          <a href="../User/index.html" class="nav-content-about">About us</a>
          <a href="../User/index.html" class="nav-content-contact">Contact us</a>
          <a href="" class="nav-content-portfolio">Portfolio</a>
          <a href="../User/index.html" class="nav-content-blog">Blog</a>
          <a   href="/PortfolioATLP/components/Signup.html" class="button-signup">
            <button class=btn-signup>Signup</button>
          </a>
    </div>
  </div>

  <div class="wrapper">
    <div class="sign-panels">
  <div class="signup">
    <div class="title">
        <span>SIGN UP</span>
        <p>Create a new account. Sign up with your Google, GitHub or Facebook  accunt. Or Using  Normal Signup form.</p>
    </div>

    <div class="btn-media">
        <button href="#" class="btn-google" id="btn-google"><img src="./google.png" alt="" class="img-icon-social"></button>
        <button href="#" class="btn-github" id="btn-github"><img src="./github.png" alt="" class="img-icon-social"></button>
        
    </div>

    <div class="or"><span>OR</span></div>

    <form  id="Signup-form">
        <input type="text" placeholder="Username" name="name" id="name" >
        <span id="username-error"></span>
        <input type="text" placeholder="Email Address" name="email" id="email">
        <span id="email-error"></span>
        <input type="password" placeholder="Password" id="password">
        <span id="password-error"></span>
        <input type="password" placeholder="Confirm Password" id="confirm-password">
        <span id="confirm-password-error"></span>
        
        <button href="#" name="formSubmit" type="submit" value="" class="btn-signin" >Sign Up</button>
        <a href="signin.html" class="btn-login btn-fade" >Already have an account, Sign In <i
                class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
    </form>
    </div>
    </div>
</div>

</body>
</html>