* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-cont {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 60vh;
}

.form {
    max-width: 300px;
    margin: 0 auto;
}
.form-sign-up{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    gap:2em;

}

.form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.namelaber,.emaillabel,.passwordLabel{
    display: flex;
    flex-direction: column;
    gap:0.1em
}
.submit-btn{
    background-color: #0B0D11;
    width: 100px;
    height: 32px;
    color: #B8B66E;
    border-radius: 20px;
}
.inp-form{
    padding: 4px;
    border-radius: 20px;
    width:250px;
}

