<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/index.css">
   
</head>
<body>
    <div class="nav-bar">
        <div class="log">
          <img src="./images/Logo.jpg" alt="" class="logo-image" />
          <span class="log-title">Tresor</span>
        </div>
        <div class="nav-content">
          <a href="index.html" class="nav-content-home">Home</a>
          <a href="index.html" class="nav-content-about">About us</a>
          <a href="index.html" class="nav-content-contact">Contact us</a>
          <a href="" class="nav-content-portfolio">Portfolio</a>
          <a href="index.html" class="nav-content-blog">Blog</a>
          <a   href="Signup.html" class="button-signup">
            <button class=btn-signup>Signup</button>
          </a>
        </div>
      </div>
      <div class="blog-item">
        <h2 class="blog-name">Rwanda Technologies Trends</h2>
        <div class="image-blog">
            <img src="./images/4955.jpg" alt="" class="image-blogz">
        </div>
        <div class="blog-title">
        
          <p class="author-blog"> Mr Tresor</p>
      </div>
        <div class="descr">
            <p class="descr-header"> Description</p>
            <p class="descr-paragraph">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
            <p class="descr-paragraph">It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy</p>
        </div>
        
        <div class="icon-blogs">
           
                <img src="./images/like (1).png" alt=""  class="icons-blogz">
                <img src="./images/heart (1).png" alt="" class="icons-blogz"> 
                <img src="./images/share_1358023.png" alt="" class="icons-blogz">
        </div>
        <div class="comment">
            <p class="coom">comment</p>
            <div class="last">
                <textarea name="comment" id="comment" cols="40" rows="6"  class="commentArea"></textarea>
                <div class="btn-image-icon">
                    <button class="button-blog"><img src="./images/bi_send.svg" alt="" class="ima-blogz"></button>
                </div>
            </div>
        </div>
      </div>

      <section class = "footerclass" id="footer">
        
        <div class="sec4">
          <div class="ourservice-footer">
            <h1 class="header-footer"> Useful Links</h1>
            <ul>
              <li>Blogs</li>
              <li>Contact Us</li>
              <li>Explore More</li>
            </ul>
          </div>
      
          <div class="location-footer">
            <h1 class="header-footer"> Have Any Querry</h1>
            <ul class="footer-lasts">
              <img src="./images/location_icon.svg" alt="" class="footer-last-icon">
              <p class="name">11 KK ST, Kigali</p>
            </ul>
            <ul class="footer-last">
              <img src="./images/call_ic_icon.svg" alt="" class="footer-last-icon">
              <p class="name">+25078160346</p>
            </ul>
            <ul class="footer-last">
              <img src="./images/email.svg" alt="" class="footer-last-icon">
              <p class="name">tresorxavier16@gmail</p>
            </ul>
        
          </div>
          <div class="social-media-footer">
            <h1 class="header-footer"> Social media Links</h1>
            <ul class="social-footer">
              <div class="row-social1">
                <li><img src="./images/instagram.png" alt="" class="insta"/></li>
                <li><img src="./images/facebook (2).png" alt=""class="face" /></li>
              </div>
              <div class="row-social2">
                <li><img src="./images/linkedIn.png" alt=""class="twi" /></li>
              <li><img src="./images/social-media.png" alt=""class="twi" /></li>
              </div>
            </ul>
          </div>  
        </div> 


        <div class="blog-item">

        </div>
           
       
      </section>
      <div class="footer-copyrigths">
        ©️ copyright Reserved by <span class="name-Span"> Tresor Xavier</span>
      </div>
</body>
</html>