<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/PortfolioATLP/components/Admin/admin.css" />
    <script src="/PortfolioATLP/components/js.js" defer></script>
</head>

<body>
    <div class="all-content" id="#Home">
        <div class="left-section">
            <img src="/PortfolioATLP/images/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg" alt="" class="logo-image" />

            <div class="middle">
                <div class="first-two">
                    <a class="pair"  href="#Home">
                        <img src="/PortfolioATLP/images/home.png" alt="" class="icon" />
                        <p class="header-title" href="#Home">Home</p>
                    </a>
                    <a class="pair" id="prof" href="/PortfolioATLP/components/Admin/profile.html">
                        <img src="/PortfolioATLP/images/profile.png" alt="" class="icon" />
                        <p class="header-title">Profile</p>
                    </a>
                </div>
                <a class="pair" id="help" href="/PortfolioATLP/components/Admin/querries.html">
                    <img src="/PortfolioATLP/images/phone-call.png" alt="" class="icon-qerry" />
                    <p class="header-title">Reply Querries</p>
                </a>
                <a class="pair" href="/PortfolioATLP/components/Admin/blogs.html">
                    <img src="/PortfolioATLP/images/Vector@2x.png" alt="" class="icon" />
                    <p class="header-title">Add Blog</p>
                </a>
            </div>
            <div class="logout">
                <img src="/PortfolioATLP/images/logout.png" alt="" class="icon" />
                <a class="header-title-logout" href="/PortfolioATLP/components/index.html">Logout</a>
            </div>
        </div>
        <div class="right-section" id="right">
            <div class="card-row">
                <div class="card1">
                    <div class="number-container">
                        <span class="number">23</span>
                    </div>
                    <img src="/PortfolioATLP/images/pepicons-pencil--people.svg" alt="" class="card-image" />
                    <p class="dates">All Users</p>
                </div>
                <div class="card2">
                    <div class="number-container">
                        <span class="number">87</span>
                    </div>
                    <img src="/PortfolioATLP/images/emojione--briefcase.svg" alt="" class="card-image" />
                    <p class="dates">All Blogs</p>
                </div>

                <div class="card3">
                    <div class="number-container">
                        <span class="number">6</span>
                    </div>
                    <img src="/PortfolioATLP/images/ion--notifications.svg" alt="" class="card-image" />
                    <p class="dates">Notifications</p>
                </div>
            </div>

            <div class="card-row-user">
                <div class="paragr">
                    <p class="header-para">User Update</p>
                </div>
                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Password</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>Tresor Xavier</td>
                            <td>tresorxavier16@gmail.com</td>
                            <td>0781234567</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon" />
                                    <hr class="middle-line" />
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon" />
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>Sam Striker</td>
                            <td>samstriker@gmail.com</td>
                            <td>0781234567</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon" />
                                    <hr class="middle-line" />
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon" />
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="card-row-user">
                <div class="paragr">
                    <p class="header-para">Blog Update</p>
                </div>

                <table class="content-table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>image</th>
                            <th>description</th>
                            <th>Author</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                           
                            <td>Tech Trends</td>
                            <td><img src="/PortfolioATLP/images/ai-nuclear-energy-background-future-innovation-disruptive-technology.jpg" alt="" class="image-table-blog"></td>
                            <td> Latest  Trending new in Tech companies</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon" />
                                    <hr class="middle-line" />
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon" />
                                </button>
                            </td>
                        </tr>
                        <tr>
                            <td>2</td>
                           
                            <td>Tech Trends</td>
                            <td><img src="/PortfolioATLP/images/cloud-computing-banner-background-smart-city.jpg" alt="" class="image-table-blog"></td>
                            <td> Latest  Trending new in Tech companies</td>
                            <td>password</td>
                            <td class="father">
                                <button class="btn-action">
                                    <img src="/PortfolioATLP/images/simple-line-icons_note.svg" alt=""
                                        class="action-icon" />
                                    <hr class="middle-line" />
                                    <img src="/PortfolioATLP/images/Vector Delete.svg" alt="" class="action-icon" />
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>