@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300..800&family=Poppins:wght@100;200;300&family=Raleway:ital,wght@0,200;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:wght@300..800&family=Poppins:wght@100;200;300&family=Raleway:ital,wght@0,200;1,200&family=Kaushan+Script&display=swap');


*{
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.all-content {
    display: flex;
}

.left-section {
    flex: 1;
    background-color: #F6EFE5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

}

.middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.first-two {
    margin-right: 2em;
}
.icon-qerry{
    margin-left: 30px;
    width: 15px; 
    height: 15px; 
    margin-right: 10px;
  }

.pair {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #B8B66E;
    padding: 20px 0;
}

.icon {
    width: 15px; 
    height: 15px; 
    margin-right: 10px;
}
.icon:hover{
    transform: scale(1.1);

    cursor: pointer;
}

.header-title {
    margin: 0;
}

.logout {
    display: flex;
    align-items: center;
    margin-bottom: 8em;
}



.right-section {
    flex: 6;
    background-color: #ffff;
}

.logo-image {
    margin-top: 30px;
    width: 66px;
    height: 60px;
    border-radius: 50%;
    object-fit: fill;
}



.card-row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.card1{
    background-color: #ADD8E6;
}
.card2{
    background-color: #FFF0F5;
}
.card3{
    background-color: #E6E6FA;
}

.card1,.card2,.card3 {
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 20vh;
    margin-top: 1em;
    margin-left: 3em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.card-image {
    width: 50px;
    height: 50px;
    margin-left: 18em;
    margin-top: em;

}
.number-container, .dates{
    margin-left: 10px;
}
.number{
    font-size: xx-large;
    font-weight: 900;
    color: #228B22;
}


.action-icon {
    width: 30px;
    height: 20px;
}

.btn-action {
    background-color: #0B0D11;
    width: 90px;
    height: 32px;
    border-radius: 20px; 
    display: flex;
    align-items: center;
    flex-direction: row;
    color: #B8B66E;
}


.queries-card-manager {
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-queries {
    padding: 10px;
    display: block;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 850px;
    height: 65vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.phooos {
    width: 230px;
    height: 200px;
    border-radius: 50%;
    margin-left: 60px;
}

.form-update {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.namelaber
.emaillabel
.passwordLabel{
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.inp-form{
    display: flex;
    flex-direction: row;
    padding: 6px;
    width: 400px;
    border: none;
    background-color: #cececc;
    border-radius: 20px;
}
.btn-profile{
    margin-top: 20px;
}
.submit-btns{
    background-color: #0B0D11;
    width: 100px;
    height: 32px;
    color: #B8B66E;
    border-radius: 20px;
}

.selectImage{
    
}