<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/PortfolioATLP/components/Admin/profile.css" />
</head>
<body>
    <div class="all-content">
        <div class="left-section">
            <img src="/PortfolioATLP/images/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg" alt="" class="logo-image" />

            <div class="middle">
                <div class="first-two">
                    <a class="pair" id="Home" href="admin.html">
                        <img src="/PortfolioATLP/images/home.png" alt="" class="icon" />
                        <p class="header-title" href="admin.html">Home</p>
                    </a>
                    <a class="pair" id="prof" href="/PortfolioATLP/components/Admin/profile.html">
                        <img src="/PortfolioATLP/images/profile.png" alt="" class="icon" />
                        <p class="header-title">Profile</p>
                    </a>
                </div>
                <a class="pair" id="help" href="/PortfolioATLP/components/Admin/querries.html">
                    <img src="/PortfolioATLP/images/phone-call.png" alt="" class="icon-qerry" />
                    <p class="header-title">Reply Querries</p>
                </a>
                <a class="pair" href="/PortfolioATLP/components/Admin/blogs.html">
                    <img src="/PortfolioATLP/images/Vector@2x.png" alt="" class="icon" />
                    <p class="header-title">Add Blog</p>
                </a>
            </div>
            <div class="logout">
                <img src="/PortfolioATLP/images/logout.png" alt="" class="icon" />
                <a class="header-title-logout" href="/PortfolioATLP/components/index.html">Logout</a>
            </div>
        

    </div>
    <div class="right-section" >

        <div class="card-row">
            <div class="card1">
                <div class="number-container">
                    <span class="number">23</span>
                </div>
                <img src="/PortfolioATLP/images/pepicons-pencil--people.svg" alt="" class="card-image" />
                <p class="dates">All Users</p>
            </div>
            <div class="card2">
                <div class="number-container">
                    <span class="number">87</span>
                </div>
                <img src="/PortfolioATLP/images/emojione--briefcase.svg" alt="" class="card-image" />
                <p class="dates">All Blogs</p>
            </div>

            <div class="card3">
                <div class="number-container">
                    <span class="number">6</span>
                </div>
                <img src="/PortfolioATLP/images/ion--notifications.svg" alt="" class="card-image" />
                <p class="dates">Notifications</p>
            </div>
        </div>

            <div class="queries-card-manager">
                <div class="card-queries">
                    <div class="sub-cont">
                        <div class="form-sign-up">
                            
                            <img src="/PortfolioATLP/images/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg" alt="" class="phooos" />
                            <label for="fileInput" class="image-label">
                                <img src="/PortfolioATLP/images/entypo--folder.svg" alt="">
                            </label>
                            
                            <input type="file" id="fileInput" class="selectImage" accept="image/*" style="display: none;">
                           <div class="form-update">
                            <div class="namelaber">
                                <span>Name</span>
                                <input type="text" class="inp-form" />
                            </div>
                            <div class="emaillabel">
                                <span>Email</span>
                                <input type="email" class="inp-form" />
                            </div>
                            <div class="passwordLabel">
                                <span>Password</span>
                                <input type="password" class="inp-form" />
                            </div>
                            <div class="btn-profile">
                                <button type="button" class="submit-btns">Create User</button>
                            </div>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</body>
</html>