<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/PortfolioATLP/components/Admin/admin.css" />
    <script src="/PortfolioATLP/components/js.js" defer></script>
</head>
<body>
      <div class="all-content">
        <div class="left-section">
            <img src="/PortfolioATLP/images/jonas-kakaroto-KIPqvvTOC1s-unsplash.jpg" alt="" class="logo-image" />

            <div class="middle">
                <div class="first-two">
                    <a class="pair" id="Home" href="admin.html">
                        <img src="/PortfolioATLP/images/home.png" alt="" class="icon" />
                        <p class="header-title" href="admin.html">Home</p>
                    </a>
                    <a class="pair" id="prof" href="/PortfolioATLP/components/Admin/profile.html">
                        <img src="/PortfolioATLP/images/profile.png" alt="" class="icon" />
                        <p class="header-title">Profile</p>
                    </a>
                </div>
                <a class="pair" id="help" href="/PortfolioATLP/components/Admin/querries.html">
                    <img src="/PortfolioATLP/images/phone-call.png" alt="" class="icon-qerry" />
                    <p class="header-title">Reply Querries</p>
                </a>
                <a class="pair" href="/PortfolioATLP/components/Admin/blogs.html">
                    <img src="/PortfolioATLP/images/Vector@2x.png" alt="" class="icon" />
                    <p class="header-title">Add Blog</p>
                </a>
            </div>
            <div class="logout">
                <img src="/PortfolioATLP/images/logout.png" alt="" class="icon" />
                <a class="header-title-logout" href="/PortfolioATLP/components/index.html">Logout</a>
            </div>
        
    
</div>
<div class="right-section" id="right">
    <div class="card-row">
        <div class="card1">
            <div class="number-container">
                <span class="number">23</span>
            </div>
            <img src="/PortfolioATLP/images/pepicons-pencil--people.svg" alt="" class="card-image" />
            <p class="dates">All Users</p>
        </div>
        <div class="card2">
            <div class="number-container">
                <span class="number">87</span>
            </div>
            <img src="/PortfolioATLP/images/emojione--briefcase.svg" alt="" class="card-image" />
            <p class="dates">All Blogs</p>
        </div>

        <div class="card3">
            <div class="number-container">
                <span class="number">6</span>
            </div>
            <img src="/PortfolioATLP/images/ion--notifications.svg" alt="" class="card-image" />
            <p class="dates">Notifications</p>
        </div>
    </div>

        <div class="card-queries">
            <h1 class="header-title">Reply All Querries</h1>
            <div class="card">
                <img src="/PortfolioATLP/images/Logo.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="/PortfolioATLP/images/profile.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="/PortfolioATLP/images/profile.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="/PortfolioATLP/images/Logo.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
            <div class="card">
                <img src="/PortfolioATLP/images/profile.jpg" alt="" class="profile-card" />
                <p class="para-inside">
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                </p>
                <button class="btn-arrow">Reply</button>
            </div>
        </div>

</div>
</body>
</html>